* {
	font-family: "0xProtoNerdFont";
	font-size: 14px;
}

window#waybar {
	background-color: rgba(0,0,0,0.5);
	color: #FFFFFF;
}

#workspaces>button {
	all: unset;
	padding: 0px 6px;
}

#workspaces>button.visible {
	background-color: #737c73;
}

#workspaces>button.focused {
	background-color: #285577;
}

#workspaces>button.urgent {
	background-color: #990000;
}

#clock,
#tray,
#pulseaudio,
#wireplumber,
#cpu,
#memory,
#language,
#battery,
#custom-notification {
	padding: 5px 12px;
	margin: 0 4px;
}

#custom-separator {
	color: #999999;
}

#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	-gtk-icon-effect: highlight;
	color: #990000;
}

#language {
	min-width: 34px;
}

#battery.charging,
#battery.plugged {
	color: #8888AA;
}

#battery.warning {
	color: #AA0000;
}

@keyframes blink {
	to {
		color: transparent;
	}
}

#battery.critical:not(.charging) {
	color: #FF0000;
	animation-name: blink;
	animation-duration: 0.3s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

menu {
	border: 1px solid #285577;
	padding: 10px;
	background: #000000;
	color: #FFFFFF;
}

menuitem:hover {
	border-radius: 4px;
	background-color: #285577;
}
