@import './kanagawa.css';

* {
	font-family: "0xProtoNerdFont";
	font-size: 14px;
}

window#waybar {
	background-color: transparent;
	color: @fujiwhite;
}

.modules-left,
.modules-center,
.modules-right {
	margin-top: 4px;
}

#workspaces {
	border-radius: 7px;
	padding: 2px;
	margin: 0 4px;
	background-color: rgba(20, 20, 20, 0.6);
}

#workspaces button {
	border-radius: 5px;
	padding: 0px 4px;
}

#workspaces button.focused {
	background-color: @sumiInk2;
	color: @springGreen;
}

#workspaces button.urgent {
	background-color: @autumnRed;
}

#clock,
#tray,
#pulseaudio,
#wireplumber,
#bluetooth,
#cpu,
#memory,
#backlight,
#language,
#battery,
#custom-notification,
#custom-power {
	border-radius: 7px;
	padding: 0 12px;
	margin: 0 4px;
	background-color: rgba(20, 20, 20, 0.6);
}

#clock {
	border-right: none;
}

#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	-gtk-icon-effect: highlight;
	color: @autumnRed;
}

#language {
	min-width: 40px;
}

#battery.charging,
#battery.plugged {
	color: @oniViolet;
}

#battery.warning {
	color: @peachRed;
}

@keyframes blink {
	to {
		color: transparent;
	}
}

/*
 * Using steps() instead of linear as a timing function to limit cpu usage
 */
#battery.critical:not(.charging) {
	color: @peachRed;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#custom-power {
	margin-left: 4px;
}

menu {
	padding: 10px 7px;
	background: @sumiInk0;
	color: @fujiWhite;
}

menuitem {
	border-radius: 5px;
}

menuitem:hover {
	background-color: @autumnGreen;
	color: @fujiWhite;
}
