@import '/home/a13k5/.config/wofi/rose-pine.css';

* {
  color: @text;
}

#outer-box {
  background-color: @base;
  /*
  border: 1px solid @rose;
  */
  padding: 10px;
}

#input {
  border-radius: 0;
  border: none;

  margin: 10px;
  padding: 5px;
  background-color: @base;
  font-size: 25px;
}

#input:focus {
  box-shadow: 0 3px 0 0 @rose;
  outline: none;
}

#inner-box {
  margin: 6px;
  background-color: @base;
}

#img {
  padding-right: 10px;
}

#entry {
  padding: 8px;
  font-size: 20px;
}

#entry:selected {
  outline: none;
  background-color: transparent;
  box-shadow: -5px 0 0 -2px @rose;
}
