@import '/home/a13k5/.config/wofi/kanagawa.css';

* {
	color: @fujiwhite;
}

#window {
	background-color: rgba(0.5, 0.5, 0.5, 0.3);
}

#outer-box {
	padding: 20px;
}

#input {
	all: unset;
	padding: 5px;
	margin: 10px;
	font-size: 25px;
}

#input:focus {
	box-shadow: 0 3px 0 0 @autumnYellow;
}

#inner-box {
	margin: 10px;
}

#entry {
	all: unset;
	border-radius: 10px;
	padding: 8px;
	font-size: 20px;
	overflow: hidden;
}

#entry:selected {
	background: linear-gradient(90deg, @oniViolet 0%, rgba(0, 0, 0, 0) 80%);
}

#img {
	padding-right: 10px;
}
